#addCommentForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}

#commentBody {
  width: 500px;
  height: 50px;
}

#commentSubmit {
  width: 250px;
  background-color: white;
  font-weight: bold;
}

.commentInput {
  margin: 10px;
}

.comment {
  color: white;
  margin: 8px;
  padding: 5px;
  border-style: solid;
  word-wrap: break-word;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
